<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="table-responsive">
        <table id="data-table-basic" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Название</th>
              <th>isPaid</th>
              <th>Скидка</th>
              <th>Кол-во</th>
              <th>Цена за 1шт</th>
              <th>Общая цена</th>
            </tr>
          </thead>
          <tbody>
            {{#each orders as |productRequest number|}}
              <tr>
                <td>{{number}}</td>
                <td>{{productRequest.name}}</td>
                <td>{{productRequest.isPaid}}</td>
                <td>{{productRequest.discount}}</td>
                <td>{{productRequest.quantity}}</td>
                <td>{{productRequest.price}}</td>
                <td>{{productRequest.totalPrice}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>