<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body card-padding">
        <form role="form">
          {{#if showUserFilter}}
            <div class="form-group fg-line">
              <label>Пользователь:</label>
              {{ember-chosen
                  placeholder="Выберите Пользователя"
                  allowSingleDeselect=true
                  optionValuePath="id"
                  optionLabelPath="fullName"
                  content=users
                  value=userId
              }}
            </div>
          {{/if}}
          <div class="form-group fg-line">
            <label>Период от:</label>
            <div class="dtp-container fg-line">
              {{pikaday-input
                value=startAt
                onSelection=(action onSelection 'startAt')
                format="DD/MM/YYYY"
                class="form-control input-sm"
              }}
            </div>
          </div>
          <div class="form-group fg-line">
            <label>Период до:</label>
            <div class="dtp-container fg-line">
              {{pikaday-input
                value=endAt
                onSelection=(action onSelection 'endAt')
                format="DD/MM/YYYY"
                class="form-control input-sm"
              }}
            </div>
          </div>
          {{#if showPaymentFilters}}
            <div class="form-group fg-line">
              <div class="dtp-container fg-line">
                <div class="toggle-switch toggle-switch-demo" data-ts-color="green">
                  <label for="ts4" class="ts-label">Оплачен:</label>
                  {{input type="checkbox" id="ts4" hidden="hidden" checked=isPaid}}
                  <label for="ts4" class="ts-helper"></label>
                </div>
              </div>
            </div>
            <div class="form-group fg-line">
              <div class="dtp-container fg-line">
                <div class="toggle-switch toggle-switch-demo" data-ts-color="green">
                  <label for="ts4" class="ts-label">Только наличными:</label>
                  {{input type="checkbox" id="ts5" hidden="hidden" checked=cashOnly}}
                  <label for="ts4" class="ts-helper"></label>
                </div>
              </div>
            </div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>

<div class="mini-charts">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      Общая сумма: {{product-total-price filteredOrders totalPriceKey}}
    </div>
  </div>
</div>

<div class="card">
  <div class="action-header clearfix">
    <div class="ah-label hidden-xs">Some text here</div>
    <div class="ah-search">
      <input type="text" placeholder="Start typing..." class="ahs-input">
      <i class="ahs-close" data-ma-action="action-header-close">&times;</i>
    </div>
    <ul class="actions">
      <li>
        <a href="" data-ma-action="action-header-open">
          <i class="zmdi zmdi-search"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="zmdi zmdi-time"></i>
        </a>
      </li>
      <li class="dropdown">
        <a href="" data-toggle="dropdown" aria-expanded="true">
          <i class="zmdi zmdi-sort"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="">Last Modified</a>
          </li>
          <li>
            <a href="">Last Edited</a>
          </li>
          <li>
            <a href="">Name</a>
          </li>
          <li>
            <a href="">Date</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">
          <i class="zmdi zmdi-info"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body card-padding">
    {{#each groupedOrders as |groupedOrder|}}
      <div class="p-timeline">
        <div class="pt-line text-right">
          {{groupedOrder.key}}
        </div>
        <div class="pt-body">
          <div class="table-responsive" style="padding-left: 30px">
            {{#np-table as |table|}}
              <thead>
                <tr>
                  <th>Время</th>
                  <th>Название</th>
                  <th>isPaid</th>
                  <th>Пользователь</th>
                  <th>Способ оплаты</th>
                  <th>Скидка</th>
                  <th>Цена без скидки</th>
                  <th>Общая цена</th>
                  {{#if showHookahSalary}}
                    <th>Прибыль</th>
                  {{/if}}
                </tr>
              </thead>
              <tbody>
                {{#each groupedOrder.value as |productRequest number|}}
                  <tr>
                    <td>{{productRequest.time}}</td>
                    <td>{{productRequest.name}}</td>
                    <td>{{productRequest.isPaid}}</td>
                    <td>{{productRequest.user.fullName}}</td>
                    <td>{{productRequest.cardType}}</td>
                    <td>{{productRequest.discount}}</td>
                    <td>{{productRequest.price}}</td>
                    <td>{{productRequest.totalPrice}}</td>
                    {{#if showHookahSalary}}
                      <td>{{productRequest.hookahPrice}}</td>
                    {{/if}}
                  </tr>
                {{/each}}
              </tbody>
              <tfoot>
                <tr class="success c-white">
                  <td colspan="{{colspan}}" class="text-right">
                    Общая сумма:
                  </td>
                  <td style="width:50px">
                    {{product-total-price groupedOrder.value totalPriceKey}}
                  </td>
                </tr>
              </tfoot>
            {{/np-table}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>




