{{np-product/create
    productId=editableProduct.id
    name=editableProduct.name
    price=editableProduct.price
    code=editableProduct.code
    tags=editableProduct.tags
}}

<div class="card">
  <div class="table-responsive">
    <table id="data-table-basic" class="table table-striped">
      <thead>
        <tr>
          <th data-column-id="id" data-type="numeric">ID</th>
          <th data-column-id="sender">Name</th>
          <th data-column-id="received" data-order="desc">Price</th>
          <th data-column-id="edit" data-order="desc">Edit</th>
        </tr>
      </thead>
      <tbody>
        {{#each products as |product number|}}
        <tr>
          <td>{{number}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
            <button {{action 'editProduct' product}} type="button" class="btn btn-icon command-edit waves-effect waves-circle">
              <span class="zmdi zmdi-edit"></span>
            </button>

            <button {{action 'deleteProduct' product}} type="button" class="btn btn-icon command-edit waves-effect waves-circle">
              <span class="zmdi zmdi-delete"></span>
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>