{{np-form params=(hash
    name='Имя'
    price='Цена'

    category=(hash
      title='Категории'
      isSelect=true
      data=categories
    )

    code='Код'
    tags='Теги'
  )

  entityModelName='product'

  entityId=editableProduct.id
  name=editableProduct.name
  price=editableProduct.price
  code=editableProduct.code
  tags=editableProduct.tags
  category=editableProduct.categoryId

  onSave=(action onSave)
}}

<div class="card">
  <div class="table-responsive">
    <table id="data-table-basic" class="table table-striped">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Цена</th>
          <th>Категория</th>
          <th>Теги</th>
          <th>Редактирование</th>
        </tr>
      </thead>
      <tbody>
        {{#each products as |product number|}}
          <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category.name}}</td>
            <td>{{product.tags}}</td>
            <td>
              <button {{action 'editProduct' product}} type="button" class="btn btn-icon command-edit waves-effect waves-circle">
                <span class="zmdi zmdi-edit"></span>
              </button>

              <button {{action 'deleteProduct' product}} type="button" class="btn btn-icon command-edit waves-effect waves-circle">
                <span class="zmdi zmdi-delete"></span>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>