<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body card-padding">
        <form role="form" {{action addProductToOrder place product user on="submit"}}>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group fg-line">
                {{ember-chosen
                    placeholder="Выберите товар"
                    allowSingleDeselect=true
                    optionValuePath="id"
                    optionLabelPath="name"
                    content=products
                    value=productId
                }}
              </div>
            </div>
          </div>
          {{#if isHookah}}
            <div class="row">
              <div class="col-md-6">
                {{ember-chosen
                    placeholder="Выберите кальянщика"
                    allowSingleDeselect=true
                    optionValuePath="id"
                    optionLabelPath="fullName"
                    content=users
                    value=userId
                }}
              </div>
            </div>
          {{/if}}
          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-default btn-sm m-t-10 waves-effect">
                Добавить
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="table-responsive">
        <table id="data-table-basic" class="table table-striped">
          <thead>
            <tr>
              <th>Время</th>
              <th>Название</th>
              <th>Кол-во</th>
              <th>Цена</th>
              <th>Способ оплаты</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each place.productRequests as |productRequest number|}}
              <tr>
                <td>{{productRequest.time}}</td>
                <td>
                  <span>
                    {{productRequest.name}}
                  </span>
                  <br>
                  <span>
                    {{productRequest.user.fullName}}
                  </span>
                </td>
                <td style="min-width:70px">
                  <a href="" {{action 'changeQuantity' productRequest false}}>
                    <i class="zmdi zmdi-minus-circle"></i>
                  </a>
                  {{productRequest.quantity}}
                  <a href="" {{action 'changeQuantity' productRequest true}}>
                    <i class="zmdi zmdi-plus-circle"></i>
                   </a>
                </td>
                <td>{{productRequest.price}} *  {{productRequest.quantity}} - {{productRequest.discount}}% = {{productRequest.totalPrice}}</td>
                <td>
                  {{#radio-button
                      value="paid"
                      groupValue=productRequest.cardType
                      model=productRequest
                      changed=(action productRequest.changeCardType productRequest)
                  }}
                    Наличные
                  {{/radio-button}}

                  <br>

                  {{#radio-button
                      value="visa"
                      groupValue=productRequest.cardType
                      model=productRequest
                      changed=(action productRequest.changeCardType)
                  }}
                    Visa
                  {{/radio-button}}

                  <br>

                  {{#radio-button
                      value="masterCard"
                      groupValue=productRequest.cardType
                      model=productRequest
                      changed=(action productRequest.changeCardType)
                  }}
                    MasterCard
                  {{/radio-button}}

                  <br>
                </td>
                <td>
                  <button {{action 'changeDiscount' productRequest}} type="button" class="btn btn-icon command-edit waves-effect waves-circle">
                    <span class="zmdi zmdi-exposure-alt"></span>
                  </button>

                  <button {{action 'deleteProductRequest' productRequest.id place}} type="button" class="btn btn-icon command-edit waves-effect waves-circle">
                    <span class="zmdi zmdi-delete"></span>
                  </button>
                </td>
              </tr>
            {{/each}}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7" class="text-right">
                <button {{action 'changeDiscountForAllProductRequests' place}} class="btn bgm-teal waves-effect">
                  Добавить скидку
                </button>

                <button {{action 'archiveProductsRequests' place}} class="btn bgm-blue waves-effect">
                  Оплатить
                </button>

                <button {{action 'print'}} class="btn bgm-blue waves-effect">
                  Распечатать чек
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

{{#if doPrint}}
  <div style="display:none;">
    {{#print-this options=printThisOptions autoPrint=true}}
      <table style="width:100%; margin: 30px; page-break-after: always;">
        <thead>
          <tr>
            <th colspan="4" style="text-align:center">Кафе кальянная<br/><b>"No pasaran"</b></th>
          </tr>
        </thead>
        <tbody>
          {{#each place.productRequests as |productRequest number|}}
            <tr>
              <td colspan="4">{{productRequest.name}}</td>
            </tr>
            <tr>
              <td colspan="4"> --- {{productRequest.quantity}} x {{productRequest.price}} = {{productRequest.totalPrice}}</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" style="text-align:right; padding-right: 10px;">Наценка за обслуживание:</td>
            <td>20%</td>
          </tr>
          <tr>
            <td colspan="3" style="text-align:right; padding-right: 10px;">Скидка:</td>
            <td>0%</td>
          </tr>
          <tr>
            <td colspan="3" style="text-align:right; padding-right: 10px;">К Оплате:</td>
            <td>{{product-total-price place.productRequests}}</td>
          </tr>
        </tfoot>
      </table>
    {{/print-this}}
  </div>
{{/if}}