<div class="card">
  <div class="card-body card-padding">
    <form role="form" {{action createProduct on="submit"}}>
      <div class="form-group fg-line">
        <label for="productName">Название товара</label>
        {{input type="text" value=name class="form-control input-sm" id="productName" placeholder="Название товара"}}
      </div>
      <div class="form-group fg-line">
        <label for="productPrice">Цена</label>
        {{input type="text" value=price class="form-control input-sm" id="productPrice" placeholder="Цена"}}
      </div>
      <div class="form-group fg-line">
        <label for="productСode">Код</label>
        {{input type="text" value=code class="form-control input-sm" id="productСode" placeholder="Код"}}
      </div>
      <div class="form-group fg-line">
        <label for="productTags">Теги</label>
        {{input type="text" value=tags class="form-control input-sm" id="productTags" placeholder="Теги"}}
      </div>

      <button type="submit" class="btn btn-default btn-sm m-t-10 waves-effect">
        {{#if productId}}
          Сохранить
        {{else}}
          Добавить
        {{/if}}
      </button>

      {{#if productId}}
        <button {{action clearForm on="click"}} class="btn btn-default btn-sm m-t-10 waves-effect">Отмена</button>
      {{/if}}
    </form>
  </div>
</div>